<section class="pullout custom-pullout theme-background-color-white" data-building-block="organism">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-10 center-block text-xs-center">
                <h2 class="pypl-heading pullout__headline">
                    <b>Join the global community of PayPal users who are sending, spending and receiving money securely every day.</b>
                </h2>
                <a href="https://www.paypal.com/in/webapps/mpp/account-selection?pros=1" target="_self" class="pypl-btn mpp-btn pullout__btn pullout__btn--center pypl-btn--blue" data-pa-click="Pullout-Prmrycta-Sign Up Now" role="button" pa-marked="1">Sign Up Now</a>
            </div>
        </div>
    </div>
</section>
<div class="clock">
    <div class="second  ">
        <div class="number">
            <span>3</span>
        </div>
    </div>
    <div class="second  ">
        <div class="number">
            <span>0</span>
        </div>
    </div>
    <div class="second  ">
        <div class="number">
            <span>5</span>
        </div>
    </div>
    <div class="second  ">
        <div class="number">
            <span>0</span>
        </div>
    </div>
    <div class="second  ">
        <div class="number">
            <span>0</span>
        </div>
    </div>
    <div class="second  ">
        <div class="number">
            <span>5</span>
        </div>
    </div>
    <div class="second  ">
        <div class="number">
            <span>6</span>
        </div>
    </div>
    <div class="second  ">
        <div class="number">
            <span>6</span>
        </div>
    </div>
    <div class="second lastdigit ">
        <div class="number">
            <span class="move">9</span>
            <span class="move">0</span>
        </div>
    </div>
</div>
