img {
    max-width: 90%;
    max-height: 350px;
    border-style: none;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 835px;
    margin-top: -210px;
    margin-bottom: 60px;
}
