<section id="sliderblock">
    <article>
        <div>
            <h1>PAY WITH PAYPAL. <br>
                SAFE HAI.
                </h1>
                <p>wheather you're shooping in India or around the world, a PayPal account
                   lets you check out safer, faster and easier. That's why we're accepted
                   in over 200 markets and trusted by over 325 milion active accounts.
                </p>
                <p>
                    <button>Signup for free</button>
                </p>
                <p>
                    <a >
                        Looking for PayPal for your business?<br>
                        <strong>Go to Business solutions.</strong>
                    </a>
                </p> 
        </div>
    </article>
</section>
