<app-slider></app-slider>
<section class="paypalEditorialBlock">
  <article>
<div>
    <app-paypal-editorial></app-paypal-editorial>
</div>

  </article>

</section>
<section class="paypalWorkBlock">
    <article>
       <div>
        <app-paypalwork></app-paypalwork>
       </div>
    </article>
</section>

<section class="paypalNotificationBlock">
    <article>
        <div>
            <app-paypalnotification></app-paypalnotification>
        </div>
    </article>
</section>
<section>
    <article>
<div>
    <app-paypal-pullout></app-paypal-pullout>
</div>
    </article>
</section>
<section>
    <article>
        <div>
            <app-paypal-disc></app-paypal-disc>
        </div>
    </article>
</section>